node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# deployments
ignition/deployments

# Local secrets
.secrets

# Local tests
test.ts
test.txt

# Backups
backup/

# Receipts from the application
receipts/*.json

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
